# carga de datos

In [81]:
#librerias
from carga_datos import cargarDatos
import pandas as pd
import numpy as np

In [82]:
#vamos a cargar la base de datos y la vamos a vonvertir en un pandas dataframe

df = cargarDatos()

       tipo_credito      fecha_prestamo  capital_prestado  plazo_meses  \
0                 7 2024-12-21 11:31:35         3692160.0           10
1                 4 2025-04-22 09:47:35          840000.0            6
2                 9 2026-01-08 12:22:40         5974028.4           10
3                 4 2025-08-04 12:04:10         1671240.0            6
4                 9 2025-04-26 11:24:26         2781636.0           11
...             ...                 ...               ...          ...
10758             9 2025-01-19 16:18:28         2414886.0           10
10759             4 2025-01-10 16:40:21         2916000.0           24
10760             4 2025-06-19 14:28:47         4249200.0           36
10761             9 2025-03-02 11:53:41         1283307.6           10
10762             4 2024-12-08 12:46:03         3915000.0           12

       edad_cliente   tipo_laboral  salario_cliente  total_otros_prestamos  \
0                42  Independiente          8000000                2500000
1                60       Empleado          3000000                2000000
2                36  Independiente          4036000                 829000
3                48       Empleado          1524547                 498000
4                44       Empleado          5000000                4000000
...             ...            ...              ...                    ...
10758            29  Independiente          3000000                 300000
10759            27       Empleado          2500000                 400000
10760            24       Empleado          2000000                 500000
10761            26       Empleado          1500000                 600000
10762            24  Independiente          4000000                2000000

       cuota_pactada    puntaje  ...  saldo_mora  saldo_total  \
0             341296  88.768094  ...         0.0      51258.0
1             124876  95.227787  ...         0.0       8673.0
2             529554  47.613894  ...         0.0      18702.0
3             252420  95.227787  ...         0.0      15782.0
4             217037  95.227787  ...         0.0     204804.0
...              ...        ...  ...         ...          ...
10758         204819  13.134355  ...       172.0       1112.0
10759         127460  55.973342  ...         0.0       9771.0
10760         140042  47.613894  ...         0.0       1603.0
10761         108958  42.888527  ...         0.0       8488.0
10762         306174  59.324480  ...         0.0       5046.0

       saldo_principal  saldo_mora_codeudor  creditos_sectorFinanciero  \
0              51258.0                  0.0                          5
1               8673.0                  0.0                          0
2              18702.0                  0.0                          3
3              15782.0                  0.0                          3
4             204804.0                  0.0                          3
...                ...                  ...                        ...
10758           1112.0                  NaN                          0
10759           9771.0                  0.0                          1
10760           1603.0                  0.0                          1
10761           8488.0                  0.0                          2
10762           5046.0                  0.0                          2

       creditos_sectorCooperativo  creditos_sectorReal  \
0                               0                    0
1                               0                    2
2                               0                    0
3                               0                    0
4                               0                    1
...                           ...                  ...
10758                           0                    1
10759                           0                    4
10760                           0                    0
10761                           0                    3
10762                           1                    1

       promedio_ingresos_datacredito  tendencia_ingresos  Pago_atiempo
0                           908526.0             Estable             1
1                           939017.0           Creciente             1
2                                NaN                 NaN             0
3                          1536193.0           Creciente             1
4                           933473.0           Creciente             1
...                              ...                 ...           ...
10758                            NaN                 NaN             0
10759                      1958333.0           Creciente             0
10760                       998859.0           Creciente             0
10761                            NaN                 NaN             0
10762                            NaN                 NaN             0

[10763 rows x 23 columns]

In [83]:
df.head ()

,tipo_credito,fecha_prestamo,capital_prestado,plazo_meses,edad_cliente,tipo_laboral,salario_cliente,total_otros_prestamos,cuota_pactada,puntaje,...,saldo_mora,saldo_total,saldo_principal,saldo_mora_codeudor,creditos_sectorFinanciero,creditos_sectorCooperativo,creditos_sectorReal,promedio_ingresos_datacredito,tendencia_ingresos,Pago_atiempo
0,7,2024-12-21 11:31:35,3692160.0,10,42,Independiente,8000000,2500000,341296,88.768094,...,0.0,51258.0,51258.0,0.0,5,0,0,908526.0,Estable,1
1,4,2025-04-22 09:47:35,840000.0,6,60,Empleado,3000000,2000000,124876,95.227787,...,0.0,8673.0,8673.0,0.0,0,0,2,939017.0,Creciente,1
2,9,2026-01-08 12:22:40,5974028.4,10,36,Independiente,4036000,829000,529554,47.613894,...,0.0,18702.0,18702.0,0.0,3,0,0,NaN,NaN,0
3,4,2025-08-04 12:04:10,1671240.0,6,48,Empleado,1524547,498000,252420,95.227787,...,0.0,15782.0,15782.0,0.0,3,0,0,1536193.0,Creciente,1
4,9,2025-04-26 11:24:26,2781636.0,11,44,Empleado,5000000,4000000,217037,95.227787,...,0.0,204804.0,204804.0,0.0,3,0,1,933473.0,Creciente,1

In [84]:
#vistazo a los tipos de datos de las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10763 entries, 0 to 10762
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo_credito                   10763 non-null  int64
 1   fecha_prestamo                 10763 non-null  datetime64[ns]
 2   capital_prestado               10763 non-null  float64
 3   plazo_meses                    10763 non-null  int64
 4   edad_cliente                   10763 non-null  int64
 5   tipo_laboral                   10763 non-null  object
 6   salario_cliente                10763 non-null  int64
 7   total_otros_prestamos          10763 non-null  int64
 8   cuota_pactada                  10763 non-null  int64
 9   puntaje                        10763 non-null  float64
 10  puntaje_datacredito            10757 non-null  float64
 11  cant_creditosvigentes          10763 non-null  int64
 12  huella_consulta                10763 non-null  int64
 13  saldo_mora                     10607 non-null  float64
 14  saldo_total                    10607 non-null  float64
 15  saldo_principal                10358 non-null  float64
 16  saldo_mora_codeudor            10173 non-null  float64
 17  creditos_sectorFinanciero      10763 non-null  int64
 18  creditos_sectorCooperativo     10763 non-null  int64
 19  creditos_sectorReal            10763 non-null  int64
 20  promedio_ingresos_datacredito  7833 non-null   float64
 21  tendencia_ingresos             7831 non-null   object
 22  Pago_atiempo                   10763 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(12), object(2)
memory usage: 1.9+ MB

In [85]:
df.isnull().sum().sort_values(ascending=False)

tendencia_ingresos               2932
promedio_ingresos_datacredito    2930
saldo_mora_codeudor               590
saldo_principal                   405
saldo_mora                        156
saldo_total                       156
puntaje_datacredito                 6
salario_cliente                     0
tipo_laboral                        0
edad_cliente                        0
plazo_meses                         0
capital_prestado                    0
fecha_prestamo                      0
tipo_credito                        0
total_otros_prestamos               0
cant_creditosvigentes               0
huella_consulta                     0
cuota_pactada                       0
puntaje                             0
creditos_sectorCooperativo          0
creditos_sectorFinanciero           0
creditos_sectorReal                 0
Pago_atiempo                        0
dtype: int64

In [86]:
df.duplicated().sum()

np.int64(0)

In [87]:
df.describe()

,tipo_credito,fecha_prestamo,capital_prestado,plazo_meses,edad_cliente,salario_cliente,total_otros_prestamos,cuota_pactada,puntaje,puntaje_datacredito,...,huella_consulta,saldo_mora,saldo_total,saldo_principal,saldo_mora_codeudor,creditos_sectorFinanciero,creditos_sectorCooperativo,creditos_sectorReal,promedio_ingresos_datacredito,Pago_atiempo
count,10763.000000,10763,1.076300e+04,10763.000000,10763.000000,1.076300e+04,1.076300e+04,1.076300e+04,10763.000000,10757.000000,...,10763.000000,10607.000000,1.060700e+04,1.035800e+04,10173.000000,10763.000000,10763.000000,10763.000000,7.833000e+03,10763.000000
mean,5.411131,2025-04-16 23:06:02.111121664,2.434315e+06,10.575583,43.948620,1.721643e+07,6.238870e+06,2.436174e+05,91.170036,780.790834,...,4.228561,7.746017,4.593741e+04,4.034617e+04,0.260002,2.779987,0.269813,1.302704,2.005157e+06,0.952523
min,4.000000,2024-11-26 09:17:04,3.600000e+05,2.000000,19.000000,0.000000e+00,0.000000e+00,2.394400e+04,-38.009990,-7.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,4.000000,2025-01-20 17:33:07.500000,1.224831e+06,6.000000,33.000000,2.000000e+06,5.000000e+05,1.210415e+05,95.227787,757.000000,...,2.000000,0.000000,2.898000e+03,2.690000e+03,0.000000,1.000000,0.000000,0.000000,9.251570e+05,1.000000
50%,4.000000,2025-03-27 16:23:12,1.921920e+06,10.000000,42.000000,3.000000e+06,1.000000e+06,1.828630e+05,95.227787,791.000000,...,4.000000,0.000000,1.617800e+04,1.444250e+04,0.000000,2.000000,0.000000,1.000000,1.204496e+06,1.000000
75%,9.000000,2025-06-16 13:27:58,3.084840e+06,12.000000,53.000000,4.875808e+06,2.000000e+06,2.878335e+05,95.227787,825.000000,...,6.000000,0.000000,5.298200e+04,4.763225e+04,0.000000,4.000000,0.000000,2.000000,2.231859e+06,1.000000
max,68.000000,2026-04-26 18:43:52,4.144415e+07,90.000000,123.000000,2.200000e+10,6.787675e+09,3.816752e+06,95.227787,999.000000,...,29.000000,12534.000000,5.116066e+06,1.562285e+06,2145.000000,51.000000,13.000000,25.000000,3.810658e+07,1.000000
std,2.338279,NaN,1.909643e+06,6.632082,15.060877,3.554767e+08,1.184183e+08,2.104937e+05,16.465441,104.878031,...,3.064683,225.955117,1.062698e+05,7.124244e+04,21.772917,2.748807,0.716471,1.824430,2.144116e+06,0.212668

In [88]:
df['tendencia_ingresos'].unique()

array(['Estable', 'Creciente', nan, 'Decreciente', 8315, 0, 158042, 3978,
       9147, 168750, -28589, 1000000, -566272, 24702, 31837, 122727,
       417087, 9090, 173031, -70715, -435177, -702927, -4105, 54683,
       22832, 209090, 5697, 10808, -288, -164315, 2029000, 17181, 15245,
       82657, 52862, 1817052, 75761, 146918, 1123000, 15090, 4250635,
       22363, -101368, 86286, 65988, 77975, -224714], dtype=object)

In [89]:
# Lista de valores categóricos permitidos
valores_validos = ["Estable", "Creciente", "Decreciente"]

# Mantener solo valores válidos; reemplazar el resto por NaN
df["tendencia_ingresos"] = df["tendencia_ingresos"].where(
    df["tendencia_ingresos"].isin(valores_validos),np.nan)

# Reemplazar NaN con la moda de la columna
moda = df["tendencia_ingresos"].mode()[0]
df["tendencia_ingresos"].fillna(moda, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\1164634633.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["tendencia_ingresos"].fillna(moda, inplace=True)

In [90]:
df['tendencia_ingresos'].unique()

array(['Estable', 'Creciente', 'Decreciente'], dtype=object)

In [91]:
df.isnull().sum().sort_values(ascending=False)

promedio_ingresos_datacredito    2930
saldo_mora_codeudor               590
saldo_principal                   405
saldo_mora                        156
saldo_total                       156
puntaje_datacredito                 6
tipo_credito                        0
salario_cliente                     0
tipo_laboral                        0
edad_cliente                        0
plazo_meses                         0
capital_prestado                    0
fecha_prestamo                      0
puntaje                             0
total_otros_prestamos               0
cant_creditosvigentes               0
huella_consulta                     0
cuota_pactada                       0
creditos_sectorFinanciero           0
creditos_sectorCooperativo          0
creditos_sectorReal                 0
tendencia_ingresos                  0
Pago_atiempo                        0
dtype: int64

In [92]:
df.promedio_ingresos_datacredito.sort_values(ascending=True)

10419    0.0
3307     0.0
10322    0.0
2983     0.0
4078     0.0
        ...
10740    NaN
10754    NaN
10758    NaN
10761    NaN
10762    NaN
Name: promedio_ingresos_datacredito, Length: 10763, dtype: float64

In [93]:
# Convertir los ceros a NaN
df["promedio_ingresos_datacredito"] = df["promedio_ingresos_datacredito"].replace(0, np.nan)

# Reemplazar NaN con la mediana
mediana = df["promedio_ingresos_datacredito"].median()
df["promedio_ingresos_datacredito"].fillna(mediana, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\2311152670.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["promedio_ingresos_datacredito"].fillna(mediana, inplace=True)

In [94]:
df.promedio_ingresos_datacredito.sort_values(ascending=True)

372         1000.0
4680        4263.0
342        29261.0
6528       30285.0
2575       30285.0
           ...
617     24047145.0
4624    24376313.0
440     28878675.0
9       28889623.0
7734    38106581.0
Name: promedio_ingresos_datacredito, Length: 10763, dtype: float64

In [95]:
df.isnull().sum().sort_values(ascending=False)

saldo_mora_codeudor              590
saldo_principal                  405
saldo_mora                       156
saldo_total                      156
puntaje_datacredito                6
fecha_prestamo                     0
tipo_credito                       0
salario_cliente                    0
tipo_laboral                       0
edad_cliente                       0
plazo_meses                        0
capital_prestado                   0
cuota_pactada                      0
puntaje                            0
total_otros_prestamos              0
cant_creditosvigentes              0
huella_consulta                    0
creditos_sectorFinanciero          0
creditos_sectorCooperativo         0
creditos_sectorReal                0
promedio_ingresos_datacredito      0
tendencia_ingresos                 0
Pago_atiempo                       0
dtype: int64

In [96]:
df.saldo_mora_codeudor.sort_values(ascending=False)

460      2145.0
8586      470.0
2032       30.0
10729       0.0
29          0.0
          ...
10702       NaN
10717       NaN
10726       NaN
10741       NaN
10758       NaN
Name: saldo_mora_codeudor, Length: 10763, dtype: float64

In [97]:
# Reemplazar NaN con 0.0
df["saldo_mora_codeudor"].fillna(0, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\3414468218.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["saldo_mora_codeudor"].fillna(0, inplace=True)

In [98]:
df.isnull().sum().sort_values(ascending=False)

saldo_principal                  405
saldo_mora                       156
saldo_total                      156
puntaje_datacredito                6
tipo_credito                       0
fecha_prestamo                     0
capital_prestado                   0
salario_cliente                    0
tipo_laboral                       0
edad_cliente                       0
plazo_meses                        0
puntaje                            0
cuota_pactada                      0
huella_consulta                    0
total_otros_prestamos              0
cant_creditosvigentes              0
saldo_mora_codeudor                0
creditos_sectorFinanciero          0
creditos_sectorCooperativo         0
creditos_sectorReal                0
promedio_ingresos_datacredito      0
tendencia_ingresos                 0
Pago_atiempo                       0
dtype: int64

In [99]:
df.saldo_principal.sort_values(ascending=False)

5521     1562285.0
4962     1294959.0
5746     1043577.0
1295      854569.0
958       851139.0
           ...
10556          NaN
10595          NaN
10717          NaN
10726          NaN
10741          NaN
Name: saldo_principal, Length: 10763, dtype: float64

In [100]:
# Reemplazar NaN con la mediana
mediana_saldo_principal = df["saldo_principal"].median()
df["saldo_principal"].fillna(mediana_saldo_principal, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\1884528343.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["saldo_principal"].fillna(mediana_saldo_principal, inplace=True)

In [101]:
df.isnull().sum().sort_values(ascending=False)

saldo_mora                       156
saldo_total                      156
puntaje_datacredito                6
plazo_meses                        0
tipo_credito                       0
fecha_prestamo                     0
capital_prestado                   0
salario_cliente                    0
tipo_laboral                       0
edad_cliente                       0
total_otros_prestamos              0
puntaje                            0
cuota_pactada                      0
huella_consulta                    0
cant_creditosvigentes              0
saldo_principal                    0
saldo_mora_codeudor                0
creditos_sectorFinanciero          0
creditos_sectorCooperativo         0
creditos_sectorReal                0
promedio_ingresos_datacredito      0
tendencia_ingresos                 0
Pago_atiempo                       0
dtype: int64

In [105]:
df.saldo_mora.sort_values(ascending=False)

7806    12534.0
7071    10327.0
4829    10081.0
8107     6709.0
317      5721.0
         ...
7155        NaN
7156        NaN
7157        NaN
7242        NaN
8326        NaN
Name: saldo_mora, Length: 10763, dtype: float64

In [106]:
# Reemplazar NaN con la mediana
mediana_saldo_mora = df["saldo_mora"].median()
df["saldo_mora"].fillna(mediana_saldo_mora, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\2319191495.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["saldo_mora"].fillna(mediana_saldo_mora, inplace=True)

In [107]:
df.isnull().sum().sort_values(ascending=False)

saldo_total                      156
puntaje_datacredito                6
tipo_credito                       0
plazo_meses                        0
edad_cliente                       0
fecha_prestamo                     0
capital_prestado                   0
salario_cliente                    0
tipo_laboral                       0
cuota_pactada                      0
total_otros_prestamos              0
puntaje                            0
cant_creditosvigentes              0
huella_consulta                    0
saldo_mora                         0
saldo_principal                    0
saldo_mora_codeudor                0
creditos_sectorFinanciero          0
creditos_sectorCooperativo         0
creditos_sectorReal                0
promedio_ingresos_datacredito      0
tendencia_ingresos                 0
Pago_atiempo                       0
dtype: int64

In [109]:
df.saldo_total.sort_values(ascending=True)

5096    0.0
5092    0.0
7541    0.0
4211    0.0
4209    0.0
       ...
7155    NaN
7156    NaN
7157    NaN
7242    NaN
8326    NaN
Name: saldo_total, Length: 10763, dtype: float64

In [110]:
# Reemplazar NaN con la mediana
mediana_saldo_total = df["saldo_total"].median()
df["saldo_total"].fillna(mediana_saldo_total, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\2669761041.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["saldo_total"].fillna(mediana_saldo_total, inplace=True)

In [111]:
df.isnull().sum().sort_values(ascending=False)

puntaje_datacredito              6
fecha_prestamo                   0
tipo_credito                     0
plazo_meses                      0
edad_cliente                     0
tipo_laboral                     0
capital_prestado                 0
salario_cliente                  0
total_otros_prestamos            0
cuota_pactada                    0
puntaje                          0
cant_creditosvigentes            0
huella_consulta                  0
saldo_mora                       0
saldo_total                      0
saldo_principal                  0
saldo_mora_codeudor              0
creditos_sectorFinanciero        0
creditos_sectorCooperativo       0
creditos_sectorReal              0
promedio_ingresos_datacredito    0
tendencia_ingresos               0
Pago_atiempo                     0
dtype: int64

In [112]:
df.puntaje_datacredito.sort_values(ascending=True)

928    -7.0
7043    0.0
7042    0.0
7105    0.0
7035    0.0
       ...
7115    NaN
7138    NaN
7144    NaN
7242    NaN
8326    NaN
Name: puntaje_datacredito, Length: 10763, dtype: float64

In [113]:
#reemplazar valores menores a 0 por NaN
df.loc[df["puntaje_datacredito"] < 0, "puntaje_datacredito"] = np.nan

mediana_puntaje_datacredito = df["puntaje_datacredito"].median()
df["puntaje_datacredito"].fillna(mediana_puntaje_datacredito, inplace=True)

C:\Users\Davem\AppData\Local\Temp\ipykernel_17152\2635167428.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["puntaje_datacredito"].fillna(mediana_puntaje_datacredito, inplace=True)

In [114]:
df.puntaje_datacredito.sort_values(ascending=True)

7150      0.0
7157      0.0
7156      0.0
7155      0.0
7154      0.0
        ...
8586    968.0
1765    969.0
7622    978.0
3772    987.0
1503    999.0
Name: puntaje_datacredito, Length: 10763, dtype: float64

In [115]:
df.isnull().sum().sort_values(ascending=False)

tipo_credito                     0
fecha_prestamo                   0
capital_prestado                 0
plazo_meses                      0
edad_cliente                     0
tipo_laboral                     0
salario_cliente                  0
total_otros_prestamos            0
cuota_pactada                    0
puntaje                          0
puntaje_datacredito              0
cant_creditosvigentes            0
huella_consulta                  0
saldo_mora                       0
saldo_total                      0
saldo_principal                  0
saldo_mora_codeudor              0
creditos_sectorFinanciero        0
creditos_sectorCooperativo       0
creditos_sectorReal              0
promedio_ingresos_datacredito    0
tendencia_ingresos               0
Pago_atiempo                     0
dtype: int64

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10763 entries, 0 to 10762
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo_credito                   10763 non-null  int64
 1   fecha_prestamo                 10763 non-null  datetime64[ns]
 2   capital_prestado               10763 non-null  float64
 3   plazo_meses                    10763 non-null  int64
 4   edad_cliente                   10763 non-null  int64
 5   tipo_laboral                   10763 non-null  object
 6   salario_cliente                10763 non-null  int64
 7   total_otros_prestamos          10763 non-null  int64
 8   cuota_pactada                  10763 non-null  int64
 9   puntaje                        10763 non-null  float64
 10  puntaje_datacredito            10763 non-null  float64
 11  cant_creditosvigentes          10763 non-null  int64
 12  huella_consulta                10763 non-null  int64
 13  saldo_mora                     10763 non-null  float64
 14  saldo_total                    10763 non-null  float64
 15  saldo_principal                10763 non-null  float64
 16  saldo_mora_codeudor            10763 non-null  float64
 17  creditos_sectorFinanciero      10763 non-null  int64
 18  creditos_sectorCooperativo     10763 non-null  int64
 19  creditos_sectorReal            10763 non-null  int64
 20  promedio_ingresos_datacredito  10763 non-null  float64
 21  tendencia_ingresos             10763 non-null  object
 22  Pago_atiempo                   10763 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(12), object(2)
memory usage: 1.9+ MB